[[source]]
url = "https://pypi.org/"
verify_ssl = true

[requires]
python_version = '3.6'

[packages]
html5lib = "*"
crayons = "*"
pytz = "*"
flake8 = "*"
Jinja2 = "==2.8"

[packages."pushbullet.py"]
git = "https://github.com/randomchars/pushbullet.py"

[packages.basc-py4chan]
git = "https://github.com/bibanon/basc-py4chan"

[packages.py8chan]
git = "https://github.com/bibanon/py8chan"
