[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
bs4 = "*"
pytz = "*"
jinja2 = "*"
randomcolor = "*"
pillow = "*"
python-dateutil = "*"
crayons = "*"
html5lib = "*"
better-exceptions = "*"
requests = "*"

[packages."pushbullet.py"]
git = "https://github.com/randomchars/pushbullet.py.git"

[packages.basc-py4chan]
git = "https://github.com/bibanon/basc-py4chan.git"
