[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"bs4" = "*"
pytz = "*"
pillow = "*"
crayons = "*"
"html5lib" = "*"
randomcolor = "*"
"jinja2" = "==2.10"
python-dateutil = "*"
requests = "==2.18.4"
better-exceptions = "*"
"basc-py4chan" = {git = "https://github.com/sugrocks/basc-py4chan"}
"pushbullet.py" = {git = "https://github.com/randomchars/pushbullet.py"}


[dev-packages]

"flake8" = "*"


[requires]

python_version = "3.6"
