git+https://github.com/randomchars/pushbullet.py#egg=pushbullet.py
git+https://github.com/bibanon/basc-py4chan#egg=basc-py4chan
git+https://github.com/bibanon/py8chan#egg=py8chan
Jinja2==2.8
html5lib
crayons
flake8
pytz
bs4
