{% extends "layout.html" %}
{% set previous_cat = [] %}
{% block body %}
            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">
                        Important Note
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>
                            This page offers options to download Steven Universe episodes.<br>
                            Downloading from here or any Mega links may be illegal. Please consider supporting official sources!<br>
                            If you live outside the US and don't have any legal source to watch your episodes, feel free to continue.<br>
                            <input id="yarr" type="checkbox" onclick="youAreAPirate(this.checked)">
                            <label for="yarr">&nbsp;<i>I understand the above and accept that <a target="_blank" href="/img/aivi-pirating.png">Aivi could come and kill me during my sleep</a>.</i></label><br>
                            <br>
                            You can get Steven Universe episodes legally from those sources:<br>
                            <a href="https://geo.itunes.apple.com/us/tv-season/steven-universe-vol.-6/id1194033672?mt=4">iTunes</a> - 
                            <a href="https://play.google.com/store/tv/show/Steven_Universe?id=B5b3bs5rsOU">Google Play</a> - 
                            <a href="https://www.amazon.com/gp/video/detail/B01N28RKN5">Amazon</a> - 
                            <a href="http://www.cartoonnetwork.com/video/steven-universe/">CartoonNetwork.com</a> - 
                            <a href="http://www.cartoonnetwork.com/apps/cartoon-network/cartoon-network/">Cartoon Network App</a>
                        </p>
                    </div>
                </div>
            </div>

            <br>

            <div class="card is-fullwidth" id="ImOKWithThat" style="display:none;">
                <div class="card-content">
                    <div class="content">
                        <p>
                            1080p iTunes RAW courtesy of <a href="http://yp1.yayponies.no/yaysu/steven.php">Yay Steven</a>. Updated as fast as we can.<br>
                            <i>
                                Click
                                <span class="icon is-small">
                                    <i class="fa fa-download"></i>
                                </span>
                                for direct download,
                                <span class="icon is-small">
                                    <i class="fa fa-globe"></i>
                                </span>
                                for a torrent,
                                <span class="icon is-small">
                                    <i class="fa fa-play-circle"></i>
                                </span>
                                to watch on Marebucks and
                                <span class="icon is-small">
                                    <i class="fa fa-video-camera"></i>
                                </span>
                                for Dailymotion.
                             </i><br>
                        </p>

{% if lenpa > 0 %}
                        <div id="preair" class="spoiler spoiler-default spoiler-state-expanded"
                            data-connection="A" data-toggle-placement="top"
                            data-toggle-text="Pre-Air / TVRip">
                            <div class="spoiler-content">
                                <table class="dllist">
{% for episode in preair %}
                                    <tr id="{{ episode.id }}">
                                        <td>
                                            <a title="Direct Download"
                                                download="SU-{{ episode.code }}-PREAIR.mkv"
                                                href="https://dl.sug.rocks/preair/{{ episode.filename }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-download"></i>
                                                </span>
                                            </a>
{% if episode.torrent == '1' %}
                                            <a title="Torrent"
                                                download="SU-{{ episode.code }}-PREAIR.torrent"
                                                href="https://dl.sug.rocks/torrents/preair/{{ episode.filename }}.torrent">
                                                <span class="icon is-small">
                                                    <i class="fa fa-globe"></i>
                                                </span>
                                            </a>
{% endif %}
{% if episode.marebucks != '' %}
                                            <a title="Streaming"
                                                href="https://marebucks.com/sun/{{ episode.marebucks }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-play-circle"></i>
                                                </span>
                                            </a>
{% endif %}
{% if episode.daily != '' %}
                                            <a title="Dailymotion"
                                                href="http://www.dailymotion.com/video/{{ episode.daily }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-video-camera"></i>
                                                </span>
                                            </a>
{% endif %}
                                        </td>
                                        <td>
                                            <small>({{ episode.code }})</small>
                                        </td>
                                        <td>
                                            {{ episode.title }}
                                        </td>
                                    </tr>
{% endfor %}
                                </table>
                            </div>
                        </div>
{% endif %}

                        <div id="itunes" class="spoiler spoiler-default spoiler-state-collapsed"
                            data-connection="A" data-toggle-placement="top"
                            data-toggle-text="iTunes RAW 1080p">
                            <div class="spoiler-content">
                                <b><a href="https://dl.sug.rocks/torrents/all.zip">Get all the torrents</a></b>
                                <table class="dllist">
{% for episode in itunes %}
{% if not previous_cat or episode.season != previous_cat[-1] %}{% if episode.season[:2] == "Sp" %}
                                    <tr>
                                        <th colspan="3">
                                            <h5 class="title is-5">Specials</h5>
                                        </th>
                                    </tr>
{% else %}
                                    <tr>
                                        <th colspan="3">
                                            <h5 class="title is-5">Season {{ episode.season }}</h5>
                                        </th>
                                    </tr>
{% endif %}{% set __ = previous_cat.append(episode.season) %}{% endif %}
                                    <tr id="{{ episode.id }}">
                                        <td>
                                            <a title="Direct Download"
                                                download="SU-{{ episode.code }}.mkv"
                                                href="https://dl.sug.rocks/{{ episode.filename }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-download"></i>
                                                </span>
                                            </a>
{% if episode.torrent == '1' %}
                                            <a title="Torrent"
                                                download="SU-{{ episode.code }}.torrent"
                                                href="https://dl.sug.rocks/torrents/{{ episode.filename }}.torrent">
                                                <span class="icon is-small">
                                                    <i class="fa fa-globe"></i>
                                                </span>
                                            </a>
{% endif %}
{% if episode.marebucks != '' %}
                                            <a title="Streaming"
                                                href="https://marebucks.com/sun/{{ episode.marebucks }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-play-circle"></i>
                                                </span>
                                            </a>
{% endif %}
                                        </td>
                                        <td>
                                            <small>({{ episode.code }})</small>
                                        </td>
                                        <td>
                                            {{ episode.title }}
                                        </td>
                                    </tr>
{% endfor %}
                                </table>
                            </div>
                        </div>

                        <div id="individual" class="spoiler spoiler-default spoiler-state-collapsed"
                            data-connection="A" data-toggle-placement="top"
                            data-toggle-text="Individual Downloads (Mega mirror)">
                            <div class="spoiler-content">
                                <b><a href="https://mega.nz/#F!JotHkR6Y!giZlsdwr_k5ULQAIJKWrsw">Mirror from this Mega</a></b>
                                <table class="dllist">
{% for episode in individual %}
{% if not previous_cat or episode.season != previous_cat[-1] %}{% if episode.season[:2] == "Sp" %}
                                    <tr>
                                        <th colspan="3">
                                            <h5 class="title is-5">Specials</h5>
                                        </th>
                                    </tr>
{% else %}
                                    <tr>
                                        <th colspan="3">
                                            <h5 class="title is-5">Season {{ episode.season }}</h5>
                                        </th>
                                    </tr>
{% endif %}{% set __ = previous_cat.append(episode.season) %}{% endif %}
                                    <tr id="{{ episode.id }}">
                                        <td>
                                            <a title="Direct Download"
                                                download="SU-{{ episode.code }}.mp4"
                                                href="https://dl.sug.rocks/mega/{{ episode.filename }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-download"></i>
                                                </span>
                                            </a>
{% if episode.marebucks != '' %}
                                            <a title="Streaming"
                                                href="https://marebucks.com/sun/{{ episode.marebucks }}">
                                                <span class="icon is-small">
                                                    <i class="fa fa-play-circle"></i>
                                                </span>
                                            </a>
{% endif %}
                                        </td>
                                        <td>
                                            <small>({{ episode.code }})</small>
                                        </td>
                                        <td>
                                            {{ episode.title }}
                                        </td>
                                    </tr>
{% endfor %}
                                </table>
                            </div>
                        </div>

                        <div id="comics" class="spoiler spoiler-default spoiler-state-collapsed"
                            data-connection="A" data-toggle-placement="top"
                            data-toggle-text="Comics/Books">
                            <div class="spoiler-content">
                                <table class="dllist">
{% for comic in comics %}
{% if not previous_cat or comic.category != previous_cat[-1] %}
                                    <tr>
                                        <th colspan="5">
                                            <h5 class="title is-5">{{ comic.category }}</h5>
                                        </th>
                                    </tr>
{% set __ = previous_cat.append(comic.category) %}{% endif %}
                                    <tr id="{{ comic.id }}">
{% if comic.cbz == '1' %}
                                        <td>
                                            <a title="CBZ"
                                                download="SUG-CBZ-{{ comic.id }}.cbz"
                                                href="https://dl.sug.rocks/comics/{{ comic.folder }}/SUG-CBZ-{{ comic.id }}.cbz">
                                                CBZ
                                            </a>
                                        </td>
{% else %}
                                        <td>
                                            &nbsp;
                                        </td>
{% endif %}
{% if comic.cbr == '1' %}
                                        <td>
                                            <a title="CBR"
                                                download="SUG-CBR-{{ comic.id }}.cbr"
                                                href="https://dl.sug.rocks/comics/{{ comic.folder }}/SUG-CBR-{{ comic.id }}.cbr">
                                                CBR
                                            </a>
                                        </td>
{% else %}
                                        <td>
                                            &nbsp;
                                        </td>
{% endif %}
{% if comic.pdf == '1' %}
                                        <td>
                                            <a title="PDF"
                                                download="SUG-PDF-{{ comic.id }}.pdf"
                                                href="https://dl.sug.rocks/comics/{{ comic.folder }}/SUG-PDF-{{ comic.id }}.pdf">
                                                PDF
                                            </a>
                                        </td>
{% else %}
                                        <td>
                                            &nbsp;
                                        </td>
{% endif %}
{% if comic.epub == '1' %}
                                        <td>
                                            <a title="EPUB"
                                                download="SUG-EPUB-{{ comic.id }}.epub"
                                                href="https://dl.sug.rocks/comics/{{ comic.folder }}/SUG-EPUB-{{ comic.id }}.epub">
                                                EPUB
                                            </a>
                                        </td>
{% else %}
                                        <td>
                                            &nbsp;
                                        </td>
{% endif %}
                                        <td>
                                            {{ comic.title }}
                                        </td>
                                    </tr>
{% endfor %}
                                </table>
                                <br>
                                <small><a href="https://gitgud.io/sug/website/issues/1">I'm still looking for more books and comics.</a> If you have any DL link to a digital version, please mail me at <i>kdy (at) waifu (dot) club</i>.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block footer_includes %}
    <script src="/js/dl.min.js"></script>
    <script src="/js/spoiler.min.js"></script>

{% endblock %}
