<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GOTO /{{ board }}/sug/</title>
    <meta name="description" content="Shortcut to the /sug/ thread.">
    <meta name="author" content="/sug/.rocks">

    <style>
    a {
        animation: 4s fadeIn;
        animation-fill-mode: forwards;
        color: #00e;
        cursor: pointer;
        opacity: 0;
        text-decoration: none;
    }

    a:hover {
        color: #d00
    }

    @keyframes fadeIn {
        95% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    </style>
</head>
<body>
    <a href="{{ url }}">If you didn't get redirected, click here.</a>
    <script>window.location = '{{ url }}'</script>
</body>
</html>
