{% extends "layout.html" %}
{% block body %}
            <div class="card is-fullwidth">
                <div class="card-content">
                    <div class="content">
                        <article class="message is-danger">
                          <div class="message-header">
                            <p>Leaks machine broke</p>
                          </div>
                          <div class="message-body">
                            We can't offer this service since CN changed their tools.<br/>
                            You'll be redirected <span class="cd">in 5</span>.
                          </div>
                        </article>
                    </div>
                </div>
            </div>
{% endblock %}
{% block footer_includes %}
    <script>
        var i = 5
        var c = document.querySelector('span.cd')
        var s = setInterval(function () {
            i--
            if (i > 0) {
                c.innerHTML = 'in ' + i
            } else if (i === 0) {
                c.innerHTML = 'now'
                window.location.href = 'https://sug.rocks'
            } else if (i < -3) { 
                c.innerHTML = 'now... <a href="https://sug.rocks">or click here</a>'
            }
        }, 1000)
    </script>
{% endblock %}
