                    <div class="card is-fullwidth">
                        <div class="card-content">
                            <div class="content">
                                You must be 18 or older to browse 4chan.
                                <a target="_blank" href="https://www.4chan.org/rules">Read the rules</a> and lurk moar.<br>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Livestreams
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="http://bettercausesauce.blogspot.com/">Better Cause Sauce</a>
                                    </li>
                                    <li>
                                        <a href="http://cytu.be/r/TheBronyNetwork">The <s>Brony</s> Network</a>
                                    </li>
                                    <li>
                                        <a href="http://taima.tv/r/SUG">taima.tv/r/SUG</a>
                                    </li>
                                    <li>
                                        <a href="http://dhne.ws/live/">DHNews Live (Spazz)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                <img style="max-width: 100px;" src="https://sug.rocks/img/discord.png">
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <ul>
                                    <li>
                                        <img class="discord-icon" src="https://sug.rocks/img/discord/sugrocks.png">
                                        <a title="Kody's server, for this website" target="_blank" href="https://su-g.pw/discord">/sug/.rocks</a>
                                    </li>
                                    <li>
                                        <img class="discord-icon" src="https://sug.rocks/img/discord/bolt.png">
                                        <a title="Bolt's server" target="_blank" href="https://su-g.pw/h77bh">Steven Universe Discord</a>
                                    </li>
                                    <li>
                                        <img class="discord-icon" src="https://sug.rocks/img/discord/kian.png">
                                        <a title="Kian's server, full of Peridots" target="_blank" href="https://su-g.pw/iic77">The Peridot Pub</a>
                                    </li>
                                    <li>
                                        <img class="discord-icon" src="https://sug.rocks/img/discord/cn.png">
                                        <a title="Viva la Vega's server, for more than SU" target="_blank" href="https://su-g.pw/445p4">Cartoon Network</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Subscribe
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <b>New threads</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-rss-square"></i></span>
                                        <a href="https://sug.rocks/threads.rss">RSS</a>
                                        -
                                        <a href="https://sug.rocks/threads.xml">Atom</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-bullhorn"></i></span>
                                        <a href="https://www.pushbullet.com/channel-popup?tag=sugthreads-co">/co/</a>
                                        -
                                        <a href="https://www.pushbullet.com/channel-popup?tag=sugthreads-trash">/trash/</a>
                                    </li>
                                </ul>
                                <b>LEAKBOT</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-rss-square"></i></span>
                                        <a href="https://sug.rocks/leaks.rss">RSS</a>
                                        -
                                        <a href="https://sug.rocks/leaks.xml">Atom</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-bullhorn"></i></span>
                                        <a href="https://www.pushbullet.com/channel-popup?tag=sugleaks">Pushbullet</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-reddit-alien"></i></span>
                                        <a href="https://redd.it/60b7jd">Reddit PM Bot</a>
                                    </li>
                                </ul>
                                <b>Downloads</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-rss-square"></i></span>
                                        <a href="https://sug.rocks/dl.rss">RSS</a>
                                        -
                                        <a href="https://sug.rocks/dl.xml">Atom</a>
                                    </li>
                                </ul>
                                <b>Social stuff</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-twitter"></i></span>
                                        <a href="https://twitter.com/sugrocks">@sugrocks</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-tumblr"></i></span>
                                        <a href="https://sugrocks.tumblr.com/">sugrocks</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Donations
                                <span class="icon pull-right">
                                    <a title="Make a donation" href="https://ko-fi.com/A637AV5">
                                        <i class="fa fa-coffee"></i>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <ul>
                                    <li>
                                        Dorite:
                                        <blockquote>
                                            oh whaaaaaaat the fish tacooooooooooooooos
                                        </blockquote>
                                    </li>
                                    <li>
                                        Zach:
                                        <blockquote>
                                            Believe in the Jasper redemption.
                                        </blockquote>
                                    </li>
                                    <li>
                                        Decisive Donkey:
                                        <blockquote>
                                            Keep up the good work and pray for more plot episodes 👌
                                        </blockquote>
                                    </li>
                                    <li>
                                        Anonymous:
                                        <blockquote>
                                            you are my favorite homosexual black person of israeli descent
                                        </blockquote>
                                    </li>
                                    <li>
                                        Dennis:
                                        <blockquote>
                                            Really appreciate sug.rocks and your work, keep it up! May the leaks be plenty and hiatuses be short!
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
