                    <div class="card is-fullwidth">
                        <div class="card-content">
                            <div class="content">
                                You must be 18 or older to browse 4chan.
                                <a target="_blank" href="https://www.4chan.org/rules">Read the rules</a> and lurk moar.<br>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Livestreams
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="http://bettercausesauce.blogspot.com/">BetterCauseSauce</a>
                                    </li>
                                    <li>
                                        <a href="http://cytu.be/r/TheBronyNetwork">The <s>Brony</s> Network</a>
                                    </li>
                                    <li>
                                        <a href="http://dhne.ws/live/">DHNews Live (Spazz)</a>
                                    </li>
                                    <!--
                                    <li>
                                        <a href="http://taima.tv/r/SUG">taima.tv/r/SUG</a>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <div class="card-content">
                            <div class="content">
                                <a target="_blank" href="https://discord.gg/G4VejBM">
                                    <img src="https://sug.rocks/img/discord.png"></a>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Donations
                                <a title="Make a donation" target="_blank" href="https://ko-fi.com/A637AV5" class="kofiPlusOne">
                                    +1 <img src="https://sug.rocks/img/ko-fi-plus.png">
                                </a>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <i>When donating, you can leave a message. Here's some of them.</i>
                                <br><br>
                                <ul>
                                    <li>
                                        tigerseye: <small>Four coffees!</small>
                                        <blockquote>
                                            in the name of the diamonds and for this hiatus to end
                                        </blockquote>
                                    </li>
                                    <li>
                                        Anonymous: <small>Two coffees!</small>
                                        <blockquote>
                                            cheers
                                        </blockquote>
                                    </li>
                                    <li>
                                        Anonymous: <small>Two coffees!</small>
                                        <blockquote>
                                            It's okay if you want to be aggressively smothered with the massive purple buttcheeks of an anthropomorphic cartoon mineral. We understand, and we love you for who you are. Don't be ashamed.
                                        </blockquote>
                                    </li>
                                    <li>
                                        Zach: <small>Three coffees!</small>
                                        <blockquote>
                                            Believe in the Jasper redemption.
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Subscribe
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <b>New threads</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-rss-square"></i></span>
                                        <a href="https://sug.rocks/threads.rss">RSS</a>
                                        -
                                        <a href="https://sug.rocks/threads.xml">Atom</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-bullhorn"></i></span>
                                        <a href="https://www.pushbullet.com/channel-popup?tag=sugthreads-co">/co/</a>
                                        -
                                        <a href="https://www.pushbullet.com/channel-popup?tag=sugthreads-trash">/trash/</a>
                                    </li>
                                </ul>
                                <!--
                                <b>LEAKBOT</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-rss-square"></i></span>
                                        <a href="https://sug.rocks/leaks.rss">RSS</a>
                                        -
                                        <a href="https://sug.rocks/leaks.xml">Atom</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-bullhorn"></i></span>
                                        <a href="https://www.pushbullet.com/channel-popup?tag=sugleaks">Pushbullet</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-reddit-alien"></i></span>
                                        <a href="https://redd.it/60b7jd">Reddit PM Bot</a>
                                    </li>
                                </ul>
                                -->
                                <b>Downloads</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-rss-square"></i></span>
                                        <a href="https://sug.rocks/dl.rss">RSS</a>
                                        -
                                        <a href="https://sug.rocks/dl.xml">Atom</a>
                                    </li>
                                </ul>
                                <b>Social stuff</b>
                                <ul class="sug-subs">
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-twitter"></i></span>
                                        <a href="https://twitter.com/sugrocks">@sugrocks</a>
                                    </li>
                                    <li>
                                        <span class="icon is-small"><i class="fa fa-tumblr"></i></span>
                                        <a href="https://sugrocks.tumblr.com/">sugrocks</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
