{% extends "layout.html" %}
{% block header_includes %}
    <script src="/js/nsfw.min.js"></script>
{% endblock %}
{% block body %}
            <div class="columns">
                <div class="column is-three-quarters-tablet sug-main">
                    <div class="columns sug-shortcuts">
                        <div class="column is-half-tablet">
                            <a href="https://schedule.ctoon.network/">
                              <div class="card is-fullwidth cnschedule">
                                  <div class="card-content">
                                      CN Schedule
                                  </div>
                              </div>
                            </a>
                        </div>
                        <div class="column is-half-tablet">
                            <a href="https://ctoon.party/show/sun">
                              <div class="card is-fullwidth ctoon">
                                  <div class="card-content">
                                      Streaming
                                  </div>
                              </div>
                            </a>
                        </div>
                        <div class="column is-half-tablet">
                            <a href="https://go.sug.rocks/">
                              <div class="card is-fullwidth gothread">
                                  <div class="card-content">
                                      Thread Shortcuts
                                  </div>
                              </div>
                            </a>
                        </div>
                        <div class="column is-half-tablet">
                            <a href="https://arch.sug.rocks/">
                              <div class="card is-fullwidth archive">
                                  <div class="card-content">
                                      /sug/ Archive Browser
                                  </div>
                              </div>
                            </a>
                        </div>
                    </div>
{% for threadid in threadlist %}
{% set thread = threaddict[threadid] %}
                    <div class="card is-fullwidth{% if (thread['status']['closed'] == True) %} is-hidden-mobile op-dead{% endif %}">
                        <div class="card-content op-post">
                            <div class="content">
                                <figure class="pull-left">
{% if thread['board'] == 'trash' %}
                                    <div class="red-warning" onclick="allowNSFW()">
                                        <b>Warning.</b> Pics from /trash/ might be NSFW. Click here to show them.<br>
                                        <small>+18 - Make sure you're not in a public place.</small>
                                    </div>

                                    <a class="red-image" href="{{ thread['url'] }}">
{% else %}
                                    <a href="{{ thread['url'] }}">
{% endif %}
{% if thread['media']['deleted'] == True %}
                                        <img src="/img/filedeleted.gif" alt="File was deleted :(">
{% else %}
                                        <img{% if thread['media']['spoiler'] == True %} class="img-spoiler"{% endif %}
                                            src="https://proxy.sug.rocks/250x250,fit,q60/{{ thread.media.url }}"
                                            title="Original: {{ thread['media']['name'] }} ({{ thread['media']['width'] }}x{{thread['media']['height'] }})"
                                            alt="{{ thread['media']['name'] }}">
{% endif %}
                                    </a>
                                </figure>

                                <span class="tag is-info">
                                    /{{ thread['board'] }}/
{% if thread['status']['archived'] == True %}
                                </span>
                                <span class="tag is-dark">
                                    Archived
{% elif thread['status']['dead'] == True %}
                                </span>
                                <span class="tag is-dark">
                                    Dead
{% else %}
                                    - Page {{ thread['page'] }}
{% if thread['status']['bump_limit'] == True %}
                                </span>
                                <span class="tag is-danger">
                                    Bump Limit
{% endif %}
{% if thread['status']['image_limit'] == True %}
                                </span>
                                <span class="tag is-danger">
                                    Image Limit
{% endif %}
{% endif %}
                                </span>
                                <span class="tag">
                                    {{ thread['dates']['string'] }}
                                    - No.{{ thread['id'] }}
                                </span>

                                <br>

{% if thread['status']['dead'] == False %}
                                <a href="{{ thread['url'] }}" class="button is-success">Open Thread</a>
{% endif %}
                                <a href="{{ thread['archive'] }}" class="button is-light">Archive</a>
                                <a data-op-id="{{ thread['id'] }}" onClick="displayOp(this);" class="button is-light">Show OP</a>

{% if thread['edition'] %}
                                <blockquote id="opedition-{{ thread['id'] }}" class="op-content">
                                    {{ thread['edition']|e }}
                                </blockquote>
{% endif %}
                                <blockquote id="op-{{ thread['id'] }}" class="op-content" style="display: none;">
                                    {{ thread['op'] }}
                                </blockquote>
                            </div>
                        </div>
                    </div>
{% endfor %}
                </div>

                <div class="column is-one-quarter-tablet sug-links">
{% include "sidebar.html" %}

                </div>
            </div>
{% endblock %}
{% block footer_includes %}
    <script>
        var uniqid = '{{ uniqid }}'
    </script>
    <script src="/js/threads.js" charset="utf-8"></script>
    <script src="{{ remote_url }}/js/news.min.js" charset="utf-8"></script>
{% endblock %}
