{% extends "layout.html" %}
{% block body %}
            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">
                        Why a new website?
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        So, I'm working on this new template. I've been asking some friends about the (original) website and how they feel when using it. There are some problems like:
                        <ul>
                            <li>the website feels old with the original 4chan-y design</li>
                            <li>there's not enough space between some elements</li>
                            <li>the navigation bar is kind of ignored and people doesn't know there's a download page or where the OP template is</li>
                            <li>the thread list on the home page is horrible on mobile (73.9% of our visits are from a computer, the rest are from touch devices and consoles)</li>
                            <li>there should be some links related to /sug/ or SU which aren't in the OP</li>
                            <li>and more...</li>
                        </ul>
                        <b>This is not the final design.</b> If you see something that should be changed, you can send me a feedback with your ideas, links, screenshots, etc.<br>
                        I'll be posting and replying to your feedback here. If you want to say something, hit me up <a href="/about.html">on Discord, Twitter, by email</a> or <a href="http://getaninsight.com/id/hash/1293/" target="_blank">use the feedback form here.</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">
                        Your feedback & my replies
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <blockquote><i>Praise/Shitpost:</i> :^) <b>[8/10]</b></blockquote>
                        <blockquote><i>No message</i> <b>[10/10]</b></blockquote>
                        ;^)
                        <hr>
                        <blockquote><i>Suggestion:</i> Try to make all the posts in one scroll bar, or lock the posts onto the page. I think people will start to get annoyed with how the page can be scrolled down,and the posts can be scrolled down. So maybe make make a read more button (Not opening it on another page just showing the rest of the post). Other than that It looks really nice! <b>[7/10]</b></blockquote>
                        That was something that annoyed me a bit and it was horrible on touchscreens. I wasn't sure if I was going to leave it as it was or just remove the OP. But the "read more" button is a great idea! I've implemented something quite similar.
                        <hr>
                        <blockquote><i>Praise/Shitpost:</i> muh web 2.0 <b>[10/10]</b></blockquote>
                        Ｔｈｅ Ｆｕｔｕｒｅ
                        <hr>
                        <blockquote><i>Suggestion:</i> see that bar at the top of the page?nyeah i know it's trendy to make it follow you when you scroll but please don't do it's dumb <b>[8/10]</b></blockquote>
                        I'm definitively not doing that on the new website. Especially now that the bar is larger.
                        <hr>
                        <blockquote><i>Problem:</i> The design looks pretty good, but a little bit confusing <b>[8/10]</b></blockquote>
                        I'd love to know how to make it better to use. It's not something easy since everyone has different habits and ways to browse. When speaking with people IRL or on Discord about the website, they say it's far better now than it was before.
                        <hr>
                        <blockquote><i>Suggestion:</i> Would it be possible to have the main site theme be a tad bit darker, not pure white with brightly colored bars on top? The old site had a really night color scheme <b>[8/10]</b></blockquote>
                        <blockquote><i>Praise/Shitpost:</i> I think it looks good, it just a tad rough an unrefined. I think the navbar should either be a different color or meld in with the banner. <b>[5/10]</b></blockquote>
                        <blockquote><i>Problem:</i> MY EYES THOSE COLORS <b>[7/10]</b></blockquote>
                        Yup, you're right. I'm trying some color schemes locally, I will share my ideas soon. Right now, it's just some of the "default" colors. <b>EDIT: Woo, original color scheme! Is it better now?</b>
                        <hr>
                        <blockquote><i>Suggestion:</i> The original website feels a lot cleaner and smoother than the new one. <b>[1/10]</b></blockquote>
                        This is probably what made my try a different style actually. People didn't like the original one (see my message on the top of this page). I'm trying to use some things like "cards" and add more spaces between elements.
                    </div>
                </div>
            </div>
{% endblock %}
