{% extends "layout.html" %}
{% block body %}
            <div class="card is-fullwidth">
                <div class="card-content">
                    <div class="content">
                        <p>
                            <b>Warning, SPOILERS ! Don't forget to add spoilers when you post images or links on 4chan, reddit or other places.</b><br>
                            Note that old episodes could come back in this list. We will keep an eye on this and filter them.<br>
                        </p>
{% for leak in leaks %}
                        <div id="{{ leak.contentid }}" class="spoiler spoiler-default spoiler-state-collapsed"
                            data-connection="A" data-toggle-placement="top"
                            data-toggle-text="{{ leak.title }} (ID: {{ leak.contentid }})">
                            <div class="spoiler-content">
                                <h3>{{ leak.title }}</h3>
{% if leak.desc %}
                                <blockquote>
                                    <p>{{ leak.desc }}</p>
                                </blockquote>
{% endif %}
{% if leak.screenshots %}
                                <div class="spoiler spoiler-default spoiler-state-collapsed"
                                    data-connection="B" data-toggle-placement="top"
                                    data-toggle-text="Screenshots">
                                    <div class="spoiler-content">
{% for screen in leak.screenshots %}
                                        <a target="_blank" href="/leaks/{{ screen }}"><img class="screenleak" src="/leaks/{{ screen }}"></a>
{% endfor %}
                                    </div>
                                </div>
{% endif %}
{% if leak.previews %}
                                <div class="spoiler spoiler-default spoiler-state-collapsed"
                                    data-connection="B" data-toggle-placement="top"
                                    data-toggle-text="2 minutes video preview">
                                    <div class="spoiler-content">
{% for video in leak.previews %}
                                        <video src="/leaks/{{ video }}" controls></video>
{% endfor %}
                                    </div>
                                </div>
{% endif %}
                            </div>
                        </div>
{% endfor %}

{% if founds == 0 %}
                        <h3 style="text-align: center">Nothing here yet!</h3>
{% endif %}

                    </div>
                </div>
            </div>
{% endblock %}
{% block footer_includes %}
    <script src="/js/spoiler.js"></script>
{% endblock %}
