{% extends "layout.html" %}
{% block body %}
            <div class="columns">
                <div class="column is-three-quarters-tablet sug-new">
                    <div class="card is-fullwidth" id="welcome">
                        <header class="card-header">
                            <p class="card-header-title">
                                Welcome!
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    Are you curious? Maybe don't you really know what's Steven Universe and why people might like it? Or you just was interested on the show and want to know more and where you can discuss it? Then welcome to this little guide!
                                </p>
                                <p>
                                    <i>Want to contribute to this page? Please <a href="https://su-g.pw/zvzlx">edit this file on GitHub</a> (or Gitgud, see website's footer) and send the modifications back, or <a href="https://su-g.pw/yo9yx">create an issue!</a></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth" id="whatsSU">
                        <header class="card-header">
                            <p class="card-header-title">
                                What's Steven Universe
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                [TODO]
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth" id="community">
                        <header class="card-header">
                            <p class="card-header-title">
                                Community websites
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    There's a lot of website where fans can discuss or follow the show's progress.<br>
                                    Here's an excerpt of them.
                                </p>
                                <h3>News</h3>
                                <ul>
                                    <li><a href="">Derpy News</a> - Derpy News is a news website for different kind of cartoons, including Steven Universe.</li>
                                    <li><a href="">Beach City Buggle</a> - An another news website, more focused on the community. People can submit creations and links to contribute.</li>
                                </ul>

                                <h3>Comics, art and fanfictions</h3>
                                <ul>
                                    <li>[TODO]</li>
                                </ul>

                                <h3>Discussions/Social groups</h3>
                                <ul>
                                    <li>
                                        Reddit:
                                        <ul>
                                            <li><a href="https://www.reddit.com/r/stevenuniverse">/r/stevenuniverse</a> - The main subreddit to speak about the show</li>
                                            <li><a href="https://www.reddit.com/r/BeachCity">/r/BeachCity</a> - General chat between SU fans</li>
                                            <li><a href="https://www.reddit.com/r/SULeaks">/r/SULeaks</a> - Spoilers and leaks</li>
                                            <li><a href="https://www.reddit.com/r/gem_irl">/r/gem_irl</a> - gem irl</li>
                                            <li>More related subreddits can be found in the /r/stevenuniverse's sidebar.</li>
                                        </ul>
                                    </li>
                                    <li>4Chan (this website tracks the discussions) - You can discuss about the show on the /co/ (Comics and Cartoons) board. See "But what's /sug/?" for more.
                                    <li>Tumblr: Share your toughts and tag them with "Steven Universe" and/or something related. Then use the search function to follow what everyone's thinking.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="card is-fullwidth" id="sug">
                        <header class="card-header">
                            <p class="card-header-title">
                                But what's /sug/?
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    When the show is airing (and for a bonus of one week after), "Steven Universe General" (stylized has /sug/) threads can be made in 4chan's /co/, a board (category) for comics and cartoons.
                                </p>
                                <p>
                                    Generals are a type of threads where we can discuss everything Steven Universe-related, without opening too many threads about the same kind of things. Discussing about the show, making art, bad puns/jokes, memes and bashing Indexer are common things.
                                </p>
                                <p>
                                    During hiatuses, people create those generals in /trash/, which is a <i>not safe for work</i> board, but the generals looks pretty much the same, except there is less users there.
                                </p>
                                <p>
                                    <b>Please note that you must be over 18, have read the rules and you must lurk (read multiple threads without commenting) before posting to understand our culture and how generals works.</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter-tablet sug-links">
                    <div class="card is-fullwidth sticky">
                        <header class="card-header">
                            <p class="card-header-title">
                                Navigation
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <ul>
                                    <li><a href="#welcome">Welcome</a></li>
                                    <li><a href="#whatsSU">What's Steven Universe</a></li>
                                    <li><a href="#community">Community websites</a></li>
                                    <li><a href="#sug">But what's /sug/?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
