{% extends "layout.html" %}
{% block header_includes %}
    <script src="/js/nsfw.js"></script>
{% endblock %}
{% block body %}
            <div class="columns">
                <div class="column is-three-quarters-tablet sug-threads">
{% for thread in threadlist %}
{% if thread._board.name == 'sugen' %}{% set opfile = thread.topic.first_file %}
{% else %}{% set opfile = thread.topic.file %}{% endif %}
                    <div class="card is-fullwidth{% if thread.archived == True %} is-hidden-mobile op-dead{% endif %}">
                        <div class="card-content op-post">
                            <div class="content">
                                <figure class="pull-left">
{% if thread._board.name == 'trash' %}
                                    <div class="red-warning" onclick="allowNSFW()">
                                        <b>Warning:</b> pics from /trash/ might be NSFW. Click here to show them anyway (permanently).<br>
                                        <small>+18 - Make sure you're not in a public place.</small>
                                    </div>

                                    <a class="red-image" href="{{ thread.url }}">
{% else %}
                                    <a href="{{ thread.url }}">
{% endif %}
{% if opfile.file_deleted == True %}
                                        <img src="/img/filedeleted.gif" alt="File was deleted :(">
{% elif opfile.file_extension == '.gif' %}
                                        <img{% if thread.topic.spoiler == True %} class="img-spoiler"{% endif %} src="{{ opfile.file_url }}" title="Original: {{ opfile.filename_original }} ({{ opfile.file_width }}x{{ opfile.file_height }})" alt="{{ opfile.filename_original }}">
{% else %}
                                        <img{% if thread.topic.spoiler == True %} class="img-spoiler"{% endif %} src="{{ opfile.thumbnail_url }}" title="Original: {{ opfile.filename_original }} ({{ opfile.file_width }}x{{ opfile.file_height }})" alt="{{ opfile.filename_original }}">
{% endif %}
                                    </a>
                                </figure>

                                <span class="tag is-info">
                                    /{{ thread._board.name }}/
{% if thread.archived == True %}
                                </span>
                                <span class="tag is-dark">
                                        Archived
{% elif thread.closed == True %}
                                </span>
                                <span class="tag is-dark">
                                    Closed
{% else %}
{% if thread._board.name != 'sugen' %}
                                    - Page {{ find_page(thread._board.name, thread.topic.post_number) }}
{% endif %}
{% if thread.bumplimit == True %}
                                </span>
                                <span class="tag is-danger">
                                    Bump Limit
{% endif %}
{% if thread.imagelimit == True %}
                                </span>
                                <span class="tag is-danger">
                                    Image Limit
{% endif %}
{% endif %}
                                </span>
                                <span class="tag">
                                    {{ thread.topic.timestamp|stamptostrftime }}
                                    - No.{{ thread.topic.post_number }}
                                </span>

                                <br>

                                <a href="{{ thread.url }}" class="button is-success">Open Thread</a>
{% if thread._board.name != 'sugen' %}
                                <a href="https://desuarchive.org/{{ thread._board.name }}/thread/{{ thread.topic.post_number }}" class="button is-light">Archive</a>
{% endif %}
                                <a data-op-id="{{ thread.topic.post_number }}" onClick="displayOp(this);" class="button is-light">Show OP</a>

{% set edition_name = thread.topic.comment|edition %}
{% if edition_name %}
                                <blockquote id="opedition-{{ thread.topic.post_number }}" class="op-content">
                                    {{ edition_name }}
                                </blockquote>
{% endif %}
                                <blockquote id="op-{{ thread.topic.post_number }}" class="op-content" style="display: none;">
{% if thread._board.name == 'sugen' %}
                                    {{ thread.topic.comment.replace('href="/', 'href="https://8ch.net/') }}
{% else %}
                                    {{ thread.topic.comment.replace('href="/', 'href="https://boards.4chan.org/') }}
{% endif %}
                                </blockquote>
                            </div>
                        </div>
                    </div>
{% endfor %}
                </div>

                <div class="column is-one-quarter-tablet sug-links">
{% include "sidebar.html" %}

                </div>
            </div>
{% endblock %}
{% block footer_includes %}
    <script>
        var uniqid = "{{ uniqid }}"

        var _yoData = { // eslint-disable-line
            'username': 'SUGROCKS',
            'trigger': 'something new happens'
        }
        var s = document.createElement('script')
        s.type = 'text/javascript'
        s.async = true
        s.defer = true
        s.src = 'https://yoapp.s3.amazonaws.com/js/yo-button.js'
        document.getElementsByTagName('head')[0].appendChild(s)
    </script>
    <script src="/js/threads.js" charset="utf-8"></script>
{% endblock %}
